:root {
	--index: calc(100vw + 100vh);
}

.cover-sheet {
	display: grid;
	grid-template-areas: "title title title"
											 "title title title"
											 "desc  desc  desc";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 200px 20px;
	padding: 1.25rem;
	div:nth-child(1) {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-area: title;
		font-size: calc(var(--index) * .025);
		font-weight: 900;
		img { height: 50%; }
	}
	div:nth-child(2) {
		height: 100%;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		flex-direction: column;
		grid-area: desc;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: calc(var(--index) * .009);
		img { display: none; }
	}
}

.title-only {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: calc(var(--index) * .020);
		text-align: center;
		width: 60%;
	}
	h2 {
		font-size: calc(var(--index) * .015);
		text-align: center;
		width: 60%;
		&.small {
			font-size: calc(var(--index) * .012);
		}
	}
}

.two-there-title {
	display: grid;
	grid-template-areas: 
		"title title"
		"left  right"
		"left  right" ;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 3fr 3fr 10px;
	row-gap: 2rem;
	div:not(:nth-child(1)) {
		padding: 1.25rem;
	}
	div:nth-child(1) {
		grid-area: title;
		font-size: calc(var(--index) * .010);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		* { margin: 0px; }
		h1, h2, h3, h4 { width: 60%; }
	}
	div:nth-child(2) {
		grid-area: left;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	div:nth-child(3) {
		grid-area: right;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	li {
		font-size: calc(var(--index) * .012);
		position: relative;
		.bold { font-weight: 900; }
	}
}
.two-no-title {
	display: flex;
	height: 96vh;
	gap: 2%;
	div {
		padding: 1.25rem;
	}
	div:nth-child(1) {
		width: 48%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	div:nth-child(2) {
		width: 48%;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h2 { 
		width: 90%;
		font-size: calc(var(--index) * .013);
	}
	li {
		font-size: calc(var(--index) * .010);
		position: relative;
		.bold { font-weight: 900; }
	}
}

.cube {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 2.5rem;
	div {
		display: flex;
		flex-direction: column;
		padding: 2.25rem;
		justify-content: center;
		align-items: center;
		img {
			height: 20vh;
		}
	}
}
.text-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	div {
		&.big { width: 70%; }
		&.half { width: 50%; }
		&.small { width: 40%; }
		h1, h2, h3 { width: 100%; }
	}
	p {
		font-size: calc(var(--index) * .010);
		line-height: calc(var(--index) * .012);
		&.large {
			font-size: calc(var(--index) * .012);
			line-height: calc(var(--index) * .014);
		}
	}
	h1 {
		font-size: calc(var(--index) * .020);
		text-align: center;
		width: 60%;
	}
	h2 {
		font-size: calc(var(--index) * .015);
		text-align: center;
		width: 60%;
		&.small { font-size: calc(var(--index) * .012); }
		&.left { text-align: left; }
	}
	li {
		font-size: calc(var(--index) * .010);
		line-height: calc(var(--index) * .012);
		&.large {
			font-size: calc(var(--index) * .012);
			line-height: calc(var(--index) * .014);
		}
		.bold { font-weight: 900; }
	}
}
